{% extends 'base.html.twig' %}

{% block body %}
    <section class="jumbotron text-center">
        <div class="container">
            <h1>Poniżej podam instrukcję do wersji konsolowej</h1>
            <p class="pt-5">
                Aby włączyć wersję konsolową aplikacji, wpisz symfony php bin/console app:numerical-sequence w głównym katalogu projektu
            </p>
        </div>
    </section>
{% endblock %}