{% extends 'base.html.twig' %}

{% block body %}
    <section class="jumbotron text-center">
        <div class="container">
            <h1>Witam w demo aplikacji, gdzie policzysz największą liczbę ciągu <a href="https://oeis.org/A002487">A002487</a></h1>
            <p>Wybierz którąś z opcji poniżej</p>
            <p>
                <a href="{{ path('form') }}" class="btn btn-primary my-2">Aplikacja webowa</a>
                <a href="{{ path('console_info') }}" class="btn btn-secondary my-2">Aplikacja konsolowa</a>
            </p>
        </div>
    </section>
{% endblock %}