{% extends 'base.html.twig' %}

{% block header %}
    <header>
        <div class="navbar navbar-dark bg-dark shadow-sm">
            <div class="container d-flex justify-content-between">
                <a href="#" class="navbar-brand d-flex align-items-center">
                    <strong>Strona główna</strong>
                </a>
            </div>
        </div>
    </header>
{% endblock header %}

{% block body %}
    <section class="jumbotron text-center">
        <div class="container">
            <h1>Witam w demo aplikacji, gdzie policzysz największą liczbę ciągu <a href="https://oeis.org/A002487">A002487</a></h1>
            <p>Wybierz którąś z opcji poniżej</p>
            <p>
                <a href="#" class="btn btn-primary my-2">Aplikacja webowa</a>
                <a href="#" class="btn btn-secondary my-2">Aplikacja konsolowa</a>
            </p>
        </div>
    </section>
{% endblock %}